* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #1D3557;
  }
  header {
    background: #E63946;
    padding: 20px;
  }
  
  header > h1 {
    color: #F1FAEE;
    text-align: center;
    font-family: "Asap", sans-serif;
  }
  
  .score-board {
    margin: 20px auto;
    border: 3px solid #F1FAEE;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: #F1FAEE;
    font-size: 46px;
    padding: 15px 20px;
    font-family: "Asap", sans-serif;
    position: relative;
  }
  
  .badge {
    background: #E63946;
    color: #F1FAEE;
    font-size: 14px;
    padding: 2px 10px;
    font-family: "Asap", sans-serif;
  }
  
  #user-label {
    position: absolute;
    top: 30px;
    left: -25px;
  }
  
  #computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
  }
  
  .result {
    font-size: 40px;
    color: #ffcb69;
  }
  
  .result > p {
    text-align: center;
    font-weight: bold;
    font-family: "Asap", sans-serif;
  }
  
  .choices {
    text-align: center;
    margin-top: 50px;
  }
  
  .choice {     
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease-in;
  }
  
  .choice:hover {
    cursor: pointer;
    background: #457B9D;
  }
  
  #action-message {
    text-align: center;
    color: #F1FAEE;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    font-family: "Asap", sans-serif;
  }
  
  .green{
    font-size: 40px;  
    font-weight: bold;
    background-color : #27a300;
    color :#F1FAEE;
    text-align : center;
    font-family : "Asap";
  }
  .red {
    font-size: 40px;
    font-weight: bold;  
    background-color : #d90429;
    color :#F1FAEE;
    text-align : center;
    font-family : "Asap";
  }
  
  .again{
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin: 25px auto;
    padding:15px;
    border-radius: 15px;
    font-family: "Asap";
    font-weight: bold;
    font-size: 20px;
    background-color: #da4167;
    color:#F1FAEE;
    border:2px solid #F1FAEE;
  }

  .again:hover{
    background-color: #f78764;
    color: #F1FAEE;
  }